// nib
@import 'nib'

// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300italic,300')
global-font = 'Open Sans', sans-serif

// global reset (reset.css alike)
global-reset()

// kaizen variables
body-distance-from-top = 70

// kaizen per sig customs
@import 'custom/sig'
@import 'custom/angular-loading-bar'
@import 'custom/metrics'

// main site - always present
@import 'main'
@import 'navbar'

// custom views
@import 'views/acceder'
@import 'views/inicio'
@import 'views/indicadores'

// footer - always present
@import 'footer'
@import 'custom/words'