// important fixes to css and font-face

@import 'nib'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
global-reset()

// kaizen per sig customs

@import 'custom/sig'

// main site - always present

@import 'main'
@import 'navbar'

// custom views

@import 'views/acceder'
@import 'views/inicio'
@import 'views/indicadores'

// footer - always present

@import 'footer'

@import 'custom/words'