/*!
 * @author Ignacio Trujillo 
 * @email itrujillo@conceptogroup.cl
 * @url https://github.com/gnaces
 *
 * © Copyright 2015 Concepto Group. Todos los derechos reservados. 
 */

 // nib
@import 'nib'

// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300italic,300')
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,400')

// global reset (reset.css alike)
global-reset()

// kaizen per sig customs
@import 'vars'

// libs
@import 'lib/loading-bar'
@import 'lib/metrics'
@import 'lib/radialplot'

// main site - always present
@import 'main'
@import 'navbar'