.wrapper.ejecutivo-view
  .wrapper-content
    .container-fluid
      .row

        //- level 2
        .col-lg-12.nopadding
          .col-lg-12
            .kaizen-box.kaizen-promo-carousel#carousel-ejecutivo.full-box
              .kaizen-box-content.carousels(ng-controller='carouselController')
                carousel(interval='interval')
                  slide(ng-repeat='slide in slides', active='slide.active')
                    img(ng-src='{{slide.image}}')
                    //- .carousel-caption
                    //-   h4 promo {{ $index+1 }}

        //- level 1
        .col-lg-12.nopadding

          //- self
          .col-lg-7
            .kaizen-box.kaizen-self.kaizen-kpi#self-ejecutivo.h-level-5
              .kaizen-box-name.big-size
                .glyphicon-kpi
                  span.glyphicon.glyphicon-asterisk
                span.uppercase Hola_
              //- .kaizen-box-content
              //-   .avatar.col-xs-12
              //-     img.img-circle(src='entel/avatar/5.jpg')
              //-   .self-info.col-xs-12.nopadding
              //-     span.who.capitalize Claudia Rojas
              //-     span.what.uppercase Ejecutiva de Ventas
              //-     span.where.uppercase ALLUS
              .kaizen-box-content
                
          //- feedback
          .col-lg-5
            .kaizen-box.kaizen-feedback#feedback-ejecutivo.h-level-5
              .kaizen-box-name
                .glyphicon-kpi
                  span.glyphicon.glyphicon-asterisk
                span.uppercase Feedback_


        .col-lg-12.nopadding
          .col-lg-4
            .kaizen-box.kaizen-self.h-level-1

          .col-lg-4
            .kaizen-box.kaizen-self.h-level-1

          .col-lg-4
            .kaizen-box.kaizen-self.h-level-1







//- script.
//-   $("#menu-toggle").click(function(e) {
//-   e.preventDefault();
//-   $("#wrapper").toggleClass("toggled");
//-   });



