.wrapper.ejecutivo-view
  .wrapper-content
    .container-fluid
      .row

        //- level 2
        .col-lg-12.nopadding
          .col-lg-12
            .kaizen-box.kaizen-promo-carousel#carousel-ejecutivo.full-box
              .kaizen-box-content.carousels(ng-controller='carouselController')
                carousel(interval='interval')
                  slide(ng-repeat='slide in slides', active='slide.active')
                    img(ng-src='{{slide.image}}')
                    //- .carousel-caption
                    //-   h4 promo {{ $index+1 }}

        //- level 1
        .col-lg-12.nopadding

          //- self
          .col-sm-7
            .kaizen-box.kaizen-self.kaizen-kpi#self-ejecutivo.h-level-6
              //- .kaizen-box-name.big-size
              //-   .glyphicon-kpi
              //-     span.glyphicon.glyphicon-asterisk
              //-   span.uppercase Hola_
              .kaizen-box-content(ng-controller='testGauge')
                //- .col-xs-3
                //-   .avatar
                //-     img.img-circle(src='entel/avatar/5.jpg')
                .col-xs-12.nopadding
                  .col-xs-4
                    .kpi
                      .kpi-name
                        span.small-size Ponderado
                        .gauge-kpi
                          canvas(gaugejs='', options='gaugeOptions', value='value', max-value='maxValue', animation-time='animationTime')
                  .col-xs-4
                    .kpi
                      .kpi-name
                        span.small-size EPA
                        .gauge-kpi
                          canvas(gaugejs='', options='gaugeOptions', value='value', max-value='maxValue', animation-time='animationTime')
                  .col-xs-4
                    .kpi
                      .kpi-name
                        span.small-size CROSS
                        .gauge-kpi
                          canvas(gaugejs='', options='gaugeOptions', value='value', max-value='maxValue', animation-time='animationTime')

          //- feedback
          .col-sm-5
            .kaizen-box.kaizen-feedback#feedback-ejecutivo.h-level-6
              .kaizen-box-name
                .glyphicon-kpi
                  span.glyphicon.glyphicon-asterisk
                span.uppercase Feedback_
              .feedback.kaizen-box-content

                .col-xs-12.each-feedback
                  .each
                    .col-xs-1.nopadding
                      .each-avatar
                        img.img-circle(src='entel/avatar/2.jpg')
                    .col-xs-10
                      .each-text
                        img(src='entel/images/originals/only.svg')
                        blockquote: p Te felicito por un notable rendimiento en EPA 95%
                        cite.text-right: | <b>Juan Farias</b> · Jefe Comercial
                    .col-xs-1.nopadding
                      .each-happyness
                        span: a(href='javascript:void(0)') ;)

                .col-xs-12.each-feedback
                  .each
                    .col-xs-1.nopadding
                      .each-avatar
                        img.img-circle(src='entel/avatar/3.jpg')
                    .col-xs-10
                      .each-text
                        img(src='entel/images/originals/only.svg')
                        span Te ha enviado una sonrisa por tu rendimiento ponderado 85%
                        cite.text-right: | <b>Daniela Alegría</b> · Jefe Comercial
                    .col-xs-1.nopadding
                      .each-happyness
                        span: a(href='javascript:void(0)') ;)

                .col-xs-12.each-feedback
                  .each
                    .col-xs-1.nopadding
                      .each-avatar
                        img.img-circle(src='entel/avatar/1.jpg')
                    .col-xs-10
                      .each-text
                        img(src='entel/images/originals/all.svg')
                        blockquote: p Chicos necesitamos que mejoremos el TMO para no salirnos del proceso.
                        cite.text-right: | <b>Macarena Andrade</b> · Coordinador
                    .col-xs-1.nopadding
                      .each-happyness
                        span: a(href='javascript:void(0)') ;)




        .col-lg-12.nopadding
          .col-lg-4
            .kaizen-box.kaizen-self.h-level-1

          .col-lg-4
            .kaizen-box.kaizen-self.h-level-1

          .col-lg-4
            .kaizen-box.kaizen-self.h-level-1







//- script.
//-   $("#menu-toggle").click(function(e) {
//-   e.preventDefault();
//-   $("#wrapper").toggleClass("toggled");
//-   });



