.wrapper.ejecutivo-view
  .wrapper-content

    //- carousel promos
    .kaizen-promo-carousel#carousel-ejecutivo
      .kaizen-box-content.carousels(ng-controller='carouselController')
        carousel(interval='interval')
          slide(ng-repeat='slide in slides', active='slide.active')
            img(ng-src='{{slide.image}}')
            //- .carousel-caption
            //-   h4 promo {{ $index+1 }}

    //- container principal
    .container-fluid
      .row

        //- level 1
        .col-lg-12.col-xs-12.nopadding

          .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding

            //- self
            .col-lg-12.col-xs-12.col-md-12
              .kaizen-box.kaizen-kpi.neutral.kaizen-self#self-ejecutivo.h-level-1
                .col-lg-12.nopadding
                  .col-md-6.col-xs-12.nopadding
                    .avatar
                      img.img-circle(src='entel/avatar/5.jpg')
                    .self-info(ng-controller='ModalPosCtrl')
                      span.who.capitalize Alicia Valderrama
                      span.what.uppercase Ejecutiva de Ventas
                      span.where.uppercase ECC
                      span.rank-position.good-rank.text-uppercase.cursor-pointer(ng-click='open("xs", "34", "Alicia Valderrama", "entel/avatar/5.jpg", "91,2")') &nbsp;
                  .col-md-4.col-xs-12
                    .versus.text-center
                      .karma-wrapper
                        .karma-title
                          span Asistencia
                        .karma-box.karma-asistencia
                          span 75%
                      .karma-wrapper
                        .karma-title
                          span Capacitación
                        .karma-box.karma-capacitacion
                          span 82%
                      .karma-wrapper
                        .karma-title
                          span On-Off
                        .karma-box.karma-onoff
                          span 93%
                  .col-md-2.col-xs-12
                    .versus
                      .karma-average
                        span.karma-average-value 83.3%
                        span.karma-average-title.text-uppercase Ponderado
                          | <br> palanca



            //- tus indicadores
            .col-lg-12.col-xs-12.col-md-12
              .kaizen-box.without-border.sig-color.kaizen-kpi#kpi-ejecutivo.h-level-8
                .kaizen-box-name.text-center
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase Hola, aquí están tus indicadores
                .kaizen-box-content(ng-controller='testGauge')

                  .col-lg-12.col-xs-12.nopadding
                    .col-lg-4.col-sm-4.col-xs-12
                      .kpi
                        .gauge-kpi
                          canvas(gaugejs='', options='gaugeOptions', value='valueEPASuper', max-value='maxValue', animation-time='animationTime')
                        .weighted
                          span.normal-size.text-center {{ valueEPASuper }}%
                        .kpi-name.text-center.text-uppercase
                          span.small-size EPA

                    .col-lg-4.col-sm-4.col-xs-12
                      .kpi
                        .gauge-kpi
                          canvas(gaugejs='', options='gaugeOptions', value='valuePonderadoSuper', max-value='maxValue', animation-time='animationTime')
                        .weighted
                          span.normal-size.text-center {{ valuePonderadoSuper }}%
                        .kpi-name.text-center.text-uppercase
                          span.small-size Ponderado gestión

                    .col-lg-4.col-sm-4.col-xs-12
                      .kpi
                        .gauge-kpi
                          canvas(gaugejs='', options='gaugeOptions', value='valueCROSSSuper', max-value='maxValue', animation-time='animationTime')
                        .weighted
                          span.normal-size.text-center {{ valueCROSSSuper }}%
                        .kpi-name.text-center.text-uppercase
                          span.small-size CROSS

          .col-lg-6.col-md-6.col-sm-6.col-xs-12.nopadding


            //- feedback
            .col-lg-12.col-xs-12.col-md-12
              .kaizen-box.without-border.kaizen-feedback#feedback-supervisor.h-level-9
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase Feedback
                .feedback.kaizen-box-content

                  .col-lg-12.col-xs-12.each-feedback
                    .feedback-avatar.col-lg-2.col-sm-1.col-md-2.col-xs-2.nopadding
                      img.img-circle(src='entel/avatar/100.jpg')
                      img(src='entel/images/originals/only.svg')
                    .feedback-text.col-lg-9.col-sm-10.col-md-9.col-xs-9
                      blockquote: p Tu equipo va muy bien! Sigue así Eli.
                      cite: | <em>por</em> <b>Alison Fernández</b> · Supervisor
                    .feedback-icons.col-lg-1.col-sm-1.col-md-1.col-xs-1
                      img.guino(src='entel/images/guiño.svg')
                      .glyphicon-inline
                        span.glyphicon.glyphicon-comment

                  .col-lg-12.col-xs-12.each-feedback
                    .feedback-avatar.col-lg-2.col-sm-1.col-md-2.col-xs-2.nopadding
                      img.img-circle(src='entel/avatar/110.jpg')
                      img(src='entel/images/originals/only.svg')
                    .feedback-text.col-lg-9.col-sm-10.col-md-9.col-xs-9
                      blockquote: p ¡Cómo lo haces! Me gustaría manejar a un equipo tan bien como tú.
                      cite: | <em>por</em> <b>Sonia Beltrán</b> · Supervisor
                    .feedback-icons.col-lg-1.col-sm-1.col-md-1.col-xs-1
                      img.guino(src='entel/images/guiño.svg')
                      .glyphicon-inline
                        span.glyphicon.glyphicon-comment

                  .col-lg-12.col-xs-12.each-feedback
                    .feedback-avatar.col-lg-2.col-sm-1.col-md-2.col-xs-2.nopadding   
                      img.img-circle(src='entel/avatar/120.jpg')
                      img(src='entel/images/originals/all.svg')
                    .feedback-text.col-lg-9.col-sm-10.col-md-9.col-xs-9
                      blockquote: p Eli, ¿me puedes ayudar a subir mis ventas? Te lo agradecería un montón.
                      cite: | <em>por</em> <b>Luís Perez</b> · Supervisor
                    .feedback-icons.col-lg-1.col-sm-1.col-md-1.col-xs-1
                      img.guino(src='entel/images/guiño.svg')
                      .glyphicon-inline
                        span.glyphicon.glyphicon-comment


        //- level 2
        .col-lg-12.col-xs-12.nopadding

          //- user story 1
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .kaizen-box.without-border.kaizen-user-stories.h-level-2
              .user-stories.kaizen-box-content
                .col-lg-12.nopadding
                  .stories-avatar.col-lg-3.col-md-2.col-sm-2.col-xs-12.nopadding
                    img.img-circle(src='entel/avatar/40.jpg')
                  .stories-text.col-lg-9.col-md-10.col-sm-10.col-xs-12
                    span.story-legend: p.text-center "Ahora me conecto de verdad con mis clientes cuando llaman. Entel me entregó las herramientas para hacerlo."
                    span.story-author: p.text-center.text-uppercase Ángela Soto

          //- user story 2
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .kaizen-box.without-border.kaizen-user-stories.h-level-2
              .user-stories.kaizen-box-content
                .col-lg-12.nopadding
                  .stories-avatar.col-lg-3.col-md-2.col-sm-2.col-xs-12.nopadding
                    img.img-circle(src='entel/avatar/70.jpg')
                  .stories-text.col-lg-9.col-md-10.col-sm-10.col-xs-12
                    span.story-legend: p.text-center "Mi familia y amigos están felices con lo que hago. Estoy dejando mi huella en muchas personas."
                    span.story-author: p.text-center.text-uppercase Claudia Arce

          //- user story 3
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .kaizen-box.without-border.kaizen-user-stories.h-level-2
              .user-stories.kaizen-box-content
                .col-lg-12.nopadding
                  .stories-avatar.col-lg-3.col-md-2.col-sm-2.col-xs-12.nopadding
                    img.img-circle(src='entel/avatar/60.jpg')
                  .stories-text.col-lg-9.col-md-10.col-sm-10.col-xs-12
                    span.story-legend: p.text-center "Gracias a Entel he podido superarme a mi mismo cada día más."
                    span.story-author: p.text-center.text-uppercase Esteban Durán



