.wrapper.ejecutivo-view
  .wrapper-content
    .container-fluid
      .row

        //- level 1
        .col-lg-12.nopadding
          .col-lg-12
            .kaizen-box.kaizen-promo-carousel#carousel-ejecutivo.full-box
              .kaizen-box-content.carousels(ng-controller='carouselController')
                carousel(interval='interval')
                  slide(ng-repeat='slide in slides', active='slide.active')
                    img(ng-src='{{slide.image}}')
                    //- .carousel-caption
                    //-   h4 promo {{ $index+1 }}

        //- level 2
        .col-lg-12.nopadding

          //- self
          .col-md-2
            .kaizen-box.kaizen-self#self-ejecutivo.h-level-6
              .kaizen-box-content
                .avatar.text-center
                  img.img-circle(src='entel/avatar/5.jpg')
                .self-info
                  span.who.capitalize Alicia Valderrama
                  span.what.uppercase Ejecutiva de Ventas
                  span.where.uppercase ECC

          .col-md-5
            .kaizen-box.kaizen-self.kaizen-kpi.ok#self-ejecutivo.h-level-6
              .kaizen-box-name.big-size.text-center
                .glyphicon-kpi
                  span.glyphicon.glyphicon-asterisk
                span.uppercase Hola, aquí están tus indicadores_
              .kaizen-box-content(ng-controller='testGauge')

                .col-xs-12.nopadding
                  .col-xs-4
                    .kpi
                      .gauge-kpi
                        canvas(gaugejs='', options='gaugeOptions', value='valuePonderado', max-value='maxValue', animation-time='animationTime')
                      .weighted
                        span.normal-size.text-center {{ valuePonderado }}%
                      .kpi-name.text-center.text-uppercase
                        span.small-size Ponderado
                  .col-xs-4
                    .kpi
                      .gauge-kpi
                        canvas(gaugejs='', options='gaugeOptions', value='valueEPA', max-value='maxValue', animation-time='animationTime')
                      .weighted
                        span.normal-size.text-center {{ valueEPA }}%
                      .kpi-name.text-center.text-uppercase
                        span.small-size EPA

                  .col-xs-4
                    .kpi
                      .gauge-kpi
                        canvas(gaugejs='', options='gaugeOptions', value='valueCROSS', max-value='maxValue', animation-time='animationTime')
                      .weighted
                        span.normal-size.text-center {{ valueCROSS }}%
                      .kpi-name.text-center.text-uppercase
                        span.small-size CROSS

          //- feedback
          .col-md-5
            .kaizen-box.kaizen-feedback#feedback-ejecutivo.h-level-6
              .kaizen-box-name
                .glyphicon-kpi
                  span.glyphicon.glyphicon-asterisk
                span.uppercase Feedback_
              .feedback.kaizen-box-content

                .col-xs-12.each-feedback
                  .each
                    .col-xs-2
                      .each-avatar
                        img.img-circle(src='entel/avatar/2.jpg')
                        img(src='entel/images/originals/only.svg')
                    .col-xs-9
                      .each-text
                        blockquote: p Te felicito por un notable rendimiento en EPA 95%
                        cite: | <b class='text-uppercase'>Juan Farias</b> · Jefe Comercial
                    .col-xs-1.nopadding
                      img.guino(src='entel/images/guiño.svg')
                      .glyphicon-inline
                        span.glyphicon.glyphicon-comment

                .col-xs-12.each-feedback
                  .each
                    .col-xs-2
                      .each-avatar
                        img.img-circle(src='entel/avatar/3.jpg')
                        img(src='entel/images/originals/only.svg')
                    .col-xs-9
                      .each-text
                        span Te ha enviado una sonrisa por tu rendimiento ponderado 85%
                        cite: | <b class='text-uppercase'>Daniela Alegría</b> · Jefe Comercial
                    .col-xs-1.nopadding
                      img.guino(src='entel/images/guiño.svg')
                      .glyphicon-inline
                        span.glyphicon.glyphicon-comment

                .col-xs-12.each-feedback
                  .each
                    .col-xs-2
                      .each-avatar
                        img.img-circle(src='entel/avatar/1.jpg')
                        img(src='entel/images/originals/all.svg')
                    .col-xs-9
                      .each-text
                        blockquote: p ¡Chicos, necesitamos que mejoremos el TMO para no salirnos del proceso!
                        cite: | <b class='text-uppercase'>Macarena Andrade</b> · Coordinador
                    .col-xs-1.nopadding
                      img.guino(src='entel/images/guiño.svg')
                      .glyphicon-inline
                        span.glyphicon.glyphicon-comment




        .col-lg-12.nopadding
          .col-lg-4
            .kaizen-box.kaizen-user-stories.h-level-2
              .user-stories.kaizen-box-content
                .each-story
                  .col-lg-12.nopadding
                    .col-xs-3
                      img.img-circle(src='entel/avatar/40.jpg')
                    .col-xs-9.nopadding
                      span.story-legend: p.text-center "Ahora me conecto de verdad con mis clientes cuando llaman. Entel me entregó las herramientas para hacerlo."
                      span.story-author: p.text-center.text-uppercase Ángela Soto


          .col-lg-4
            .kaizen-box.kaizen-user-stories.h-level-2
              .user-stories.kaizen-box-content
                .each-story
                  .col-lg-12.nopadding
                    .col-xs-3
                      img.img-circle(src='entel/avatar/70.jpg')
                    .col-xs-9.nopadding
                      span.story-legend: p.text-center "Mi familia y amigos están felices con lo que hago. Estoy dejando mi huella en muchas personas."
                      span.story-author: p.text-center.text-uppercase Claudia Arce

          .col-lg-4
            .kaizen-box.kaizen-user-stories.h-level-2
              .user-stories.kaizen-box-content
                .each-story
                  .col-lg-12.nopadding
                    .col-xs-3
                      img.img-circle(src='entel/avatar/60.jpg')
                    .col-xs-9.nopadding
                      span.story-legend: p.text-center "Gracias a Entel he podido superarme a mi mismo cada día más."
                      span.story-author: p.text-center.text-uppercase Esteban Durán







//- script.
//-   $("#menu-toggle").click(function(e) {
//-   e.preventDefault();
//-   $("#wrapper").toggleClass("toggled");
//-   });



