.container
  .row
    h2.text-center
          | Indicadores <span class='text-orange'>{</span>
  .row.row-indicadores
    .col-md-6
      .kaizen-tiles.orange
        h4.uppercase [ Ventas_
        hr.section-heading-spacer
    .col-md-6
      .kaizen-tiles.blue
        h4.uppercase [ Seguimientos_
        hr.section-heading-spacer