#wrapper
  #wrapper-sidebar
      .container
        .row
          ul.sidebar-nav
            li.sidebar-brand
              a(href='indicadores/call-center')
                img(src='entel/images/static/call-center.png')
                span.hidden-sm.hidden-xs Contact Center
            li
              a(href='#')
                img(src='entel/images/static/presencial.png')
                span.hidden-sm.hidden-xs Presencial
            li
              a(href='indicadores/terreno')
                img(src='entel/images/static/terreno.png')
                span.hidden-sm.hidden-xs Terreno
            li
              a(href='indicadores/remoto')
                img(src='entel/images/static/remoto.png')
                span.hidden-sm.hidden-xs Remoto

  #wrapper-content
    .container-fluid
      .row
        .col-lg-8.nopadding
          .col-lg-12.nopadding
            .col-lg-9
              .kaizen-tiles.h-level-1
                .col-lg-4
                  .kaizen-tiles-title
                    .glyphicon-inline
                      span.glyphicon.glyphicon-asterisk
                    span.uppercase General
                  .kaizen-kpi.weighted
                    span.big-kpi {{ indicadores.Kpi.Ponderado.Valor }}
                  .kaizen-kpi.diff
                    .arrow-kpi-diff.positive-kpi-change
                      span.glyphicon.glyphicon-chevron-up
                    .info-kpi-diff
                      span {{ indicadores.Kpi.Ponderado.Delta }}%
                .col-lg-8(ng-controller='ponderadoController')
                  metrics(ng-if='data', data='data', width='300', height='150', hasxaxis='false', format='percentage', extendedticks='false')

            .col-lg-3
              .kaizen-tiles.h-level-1
                .kaizen-tiles-title
                  .glyphicon-inline
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase Desv. Llamadas
                .kaizen-kpi.weighted.text-right
                  span.medium-kpi {{ indicadores.Kpi.DesviacionQLlamadas.Valor }}
                .kaizen-kpi.diff.text-right
                  .arrow-kpi-diff.negative-kpi-change
                    span.glyphicon.glyphicon-chevron-down
                  .info-kpi-diff
                    span {{ indicadores.Kpi.DesviacionQLlamadas.Delta }}%

          .col-lg-12.nopadding
            .col-lg-3
              .kaizen-tiles.h-level-2
                .kaizen-tiles-title
                  .glyphicon-inline
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase Servicio
                .kaizen-kpi.weighted.text-right
                  span.medium-kpi {{ indicadores.Kpi.NivelServicio.Valor }}
                .kaizen-kpi.diff.text-right
                  .arrow-kpi-diff.positive-kpi-change
                    span.glyphicon.glyphicon-chevron-up
                  .info-kpi-diff
                    span {{ indicadores.Kpi.NivelServicio.Delta }}%

            .col-lg-3
              .kaizen-tiles.h-level-2
                .kaizen-tiles-title
                  .glyphicon-inline
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase Atención
                .kaizen-kpi.weighted.text-right
                  span.medium-kpi {{ indicadores.Kpi.NivelAtencion.Valor }}
                .kaizen-kpi.diff.text-right
                  .arrow-kpi-diff.positive-kpi-change
                    span.glyphicon.glyphicon-chevron-up
                  .info-kpi-diff
                    span {{ indicadores.Kpi.NivelAtencion.Delta }}%

            .col-lg-3
              .kaizen-tiles.h-level-2
                .kaizen-tiles-title
                  .glyphicon-inline
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase EPA
                .kaizen-kpi.weighted.text-right
                  span.medium-kpi {{ indicadores.Kpi.EPA.Valor }}
                .kaizen-kpi.diff.text-right
                  .arrow-kpi-diff.positive-kpi-change
                    span.glyphicon.glyphicon-chevron-up
                  .info-kpi-diff
                    span {{ indicadores.Kpi.EPA.Delta }}%

            .col-lg-3
              .kaizen-tiles.h-level-2
                .kaizen-tiles-title
                  .glyphicon-inline
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase TMO
                .kaizen-kpi.weighted.text-right
                  span.medium-kpi {{ indicadores.Kpi.TMO }}
                  | <small> seg</small>

        .col-lg-4
          .kaizen-tiles.h-level-3
            .kaizen-tiles-title
              .glyphicon-inline
                span.glyphicon.glyphicon-asterisk
              span.uppercase Ranking
              .col-xs-12.ranks(data-ng-repeat='rank in ranking')
                .col-xs-4
                  h3.rank-name {{ rank.Id }}
                  span.rank-weighted {{ rank.Ponderado }}
                .col-xs-4
                  .arrow-ranking.positive(ng-if='rank.Id != "SCCP"')
                    span.glyphicon.glyphicon-chevron-up
                  .arrow-ranking.negative(ng-if='rank.Id == "SCCP"')
                    span.glyphicon.glyphicon-chevron-down
                  span.rank-delta {{ rank.Delta }}%
                .col-xs-4
                  span.rank-position {{ rank.Posicion }}
              

        .col-lg-12
          .kaizen-tiles.h-level-3
            .kaizen-tiles-title(ng-controller='ponderadoController')
              .glyphicon-inline
                span.glyphicon.glyphicon-asterisk
              span.uppercase Históricos
              metrics.text-left(ng-if='data', data='data', width='1080', height='300', hasxaxis='true', format='percentage', extendedticks='true')

script.
  $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
  });



