#wrapper
  #wrapper-sidebar
      .container
        .row
          ul.sidebar-nav
            li.sidebar-brand
              a(href='#')
                | Call Center
            li
              a(href='#') Ventas
            li
              a(href='#') Más ventas
            li
              a(href='#') Qué ventas
            li
              a(href='#') Wow, números
            li
              a(href='#') Muchos números
            li
              a(href='#') Ventísimas
            li
              a(href='#') Don Ventas

  #wrapper-content
    .container-fluid
      .row
        .col-md-6
          .kaizen-tiles.black
            h4.uppercase General
        .col-md-6
          .kaizen-tiles.orange
            h4.uppercase Desviación de llamadas
        .col-md-2
          .kaizen-tiles.blue
            h4.uppercase Nivel de servicio
        .col-md-2
          .kaizen-tiles.blue
            h4.uppercase Nivel de atención
        .col-md-2
          .kaizen-tiles.blue
            h4.uppercase EPA
        .col-md-6
          .kaizen-tiles.red
            h4.uppercase TMO
        .col-md-6
          .kaizen-tiles.purple
            h4.uppercase Ranking


script.
  $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
  });