#wrapper
  #wrapper-sidebar
      .container
        .row
          ul.sidebar-nav
            li.sidebar-brand
              a(href='indicadores/call-center')
                img(src='entel/images/static/call-center.png')
                span.hidden-sm.hidden-xs Call Center
            li
              a(href='indicadores/presencial')
                img(src='entel/images/static/presencial.png')
                span.hidden-sm.hidden-xs Presencial
            li
              a(href='indicadores/terreno')
                img(src='entel/images/static/terreno.png')
                span.hidden-sm.hidden-xs Terreno
            li
              a(href='indicadores/remoto')
                img(src='entel/images/static/remoto.png')
                span.hidden-sm.hidden-xs Remoto

  #wrapper-content
    .container-fluid
      .row
        .col-md-6
          .kaizen-tiles.gray
            h4.uppercase General
            hr
            .kaizen-kpi.weighted
              span.big-kpi 91%
            .kaizen-kpi.diff
              .arrow-kpi-diff.positive-kpi-change
                span.glyphicon.glyphicon-chevron-up
              .info-kpi-diff
                span 700 
                span (+79,84%)

        .col-md-3
          .kaizen-tiles.gray
            h4.uppercase Desviación de llamadas
            hr
            .kaizen-kpi.weighted
              span.medium-kpi 76%
            .kaizen-kpi.diff
              .arrow-kpi-diff.negative-kpi-change
                span.glyphicon.glyphicon-chevron-down
              .info-kpi-diff
                span 700 
                span (+79,84%)

        .col-md-2
          .kaizen-tiles.blue
            h4.uppercase Nivel de servicio
        .col-md-2
          .kaizen-tiles.blue
            h4.uppercase Nivel de atención
        .col-md-2
          .kaizen-tiles.blue
            h4.uppercase EPA
        .col-md-6
          .kaizen-tiles.red
            h4.uppercase TMO
        .col-md-6
          .kaizen-tiles.purple
            h4.uppercase Ranking


script.
  $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
  });