#wrapper
  #wrapper-sidebar
      .container
        .row
          ul.sidebar-nav
            li
              a(href='indicadores/call-center')
                img(src='entel/images/static/call-center.png')
                span.hidden-sm.hidden-xs Contact Center
            li
              a(href='indicadores/allus')
                span Allus
            li.sidebar-brand.active
              a(href='indicadores/ecc')
                span ECC
            li
              a(href='indicadores/sccp')
                span SCCP

  #wrapper-content
    .container-fluid
      .row
        // level 1
        .col-lg-8.nopadding

          // sublevel 1
          .col-lg-12.nopadding

            // kpi: general
            .col-md-9
              .kaizen-box.kaizen-kpi.ok.h-level-1
                .col-lg-4
                  .kpi
                    .name.big-size
                      .glyphicon-inline
                        span.glyphicon.glyphicon-asterisk
                      span.uppercase ECC
                    .weighted
                      span.big-size {{ ecc.Kpi.Ponderado.Valor }}
                    .diff
                      .arrow.positive
                        span.glyphicon.glyphicon-chevron-up
                      .delta
                        span {{ ecc.Kpi.Ponderado.Delta }}%
                .col-lg-8(ng-controller='eccController')
                  metrics(ng-if='data', data='data', width='300', height='150', hasxaxis='false', format='percentage', extendedticks='false')

            // kpi: desv q llamadas
            .col-md-3
              .kaizen-box.kaizen-kpi.ok.h-level-1
                .kpi
                  .name
                    .glyphicon-inline
                      span.glyphicon.glyphicon-asterisk
                    span.uppercase Desv. Llamadas
                  .weighted.text-right
                    span.normal-size {{ ecc.Kpi.DesviacionQLlamadas.Valor }}
                  .diff.text-right
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ ecc.Kpi.DesviacionQLlamadas.Delta }}%

          // sublevel 2
          .col-lg-12.nopadding

            // kpi: n.s.
            .col-md-3
              .kaizen-box.kaizen-kpi.ok.h-level-2
                .kpi
                  .name
                    .glyphicon-inline
                      span.glyphicon.glyphicon-asterisk
                    span.uppercase Servicio
                  .weighted.text-right
                    span.normal-size {{ ecc.Kpi.NivelServicio.Valor }}
                  .diff.text-right
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ ecc.Kpi.NivelServicio.Delta }}%

            // kpi: n.a.
            .col-md-3
              .kaizen-box.kaizen-kpi.red-alert.h-level-2
                .kpi
                  .name
                    .glyphicon-inline
                      span.glyphicon.glyphicon-asterisk
                    span.uppercase Atención
                  .weighted.text-right
                    span.normal-size {{ ecc.Kpi.NivelAtencion.Valor }}
                  .diff.text-right
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ ecc.Kpi.NivelAtencion.Delta }}%

            // kpi: epa
            .col-md-3
              .kaizen-box.kaizen-kpi.ok.h-level-2
                .kpi
                  .name
                    .glyphicon-inline
                      span.glyphicon.glyphicon-asterisk
                    span.uppercase EPA
                  .weighted.text-right
                    span.normal-size {{ ecc.Kpi.EPA.Valor }}
                  .diff.text-right
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ ecc.Kpi.EPA.Delta }}%

            // kpi: tmo
            .col-md-3
              .kaizen-box.kaizen-kpi.ok.h-level-2
                .kpi
                  .name
                    .glyphicon-inline
                      span.glyphicon.glyphicon-asterisk
                    span.uppercase TMO
                  .weighted.text-right
                    span.normal-size {{ ecc.Kpi.TMO }}
                    | <small> seg</small>

        // level 2

        // ranking
        .col-lg-4
          .kaizen-box.kaizen-ranking.h-level-3
            .ranking
              .name.big-size
                .glyphicon-inline
                  span.glyphicon.glyphicon-asterisk
                span.uppercase Ranking
              .col-xs-12.rank(ng-repeat='rank in ranking')
                .each
                  .col-xs-6
                    .info
                      a(href='indicadores/{{ rank.Id | lowercase }}') {{ rank.Id }}
                      span.weighted {{ rank.Ponderado }}
                  .col-xs-3
                    .arrow.positive(ng-if='rank.Id != "SCCP"')
                      .glyphicon-inline
                        span.glyphicon.glyphicon-chevron-up
                    .arrow.negative(ng-if='rank.Id == "SCCP"')
                      .glyphicon-inline
                        span.glyphicon.glyphicon-chevron-down
                    .delta
                      span {{ rank.Delta }}%
                  .col-xs-3
                    .position
                      span {{ rank.Posicion }}

        // level 3

        // history
        .col-lg-12
          .kaizen-box.kaizen-history.h-level-4
            .name
              .glyphicon-inline
                span.glyphicon.glyphicon-asterisk
              span.uppercase Históricos ECC
              metricsecc.text-left(width='1080', height='300')
              .legend

script.
  $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
  });



