ul.example-orbit-content(data-orbit)
  li(data-orbit-slide='headline-1')
    .text-center.panel
      h2 Headline 1
      h3 Subheadline
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos animi, nobis illo. Repellendus atque dolorem, officia recusandae autem, laudantium consectetur, neque!
  li(data-orbit-slide='headline-2')
    .text-center.panel
      h2 Headline 2
      h3 Subheadline
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos animi, nobis illo. Repellendus atque dolorem, officia recusandae autem, laudantium consectetur, neque!
  li(data-orbit-slide='headline-3')
    .text-center.panel
      h2 Headline 3
      h3 Subheadline
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos animi, nobis illo. Repellendus atque dolorem, officia recusandae autem, laudantium consectetur, neque!
