div
  div#kaizen-carousel-initial-promo(ng-controller='carouselController')
      carousel(interval='interval')
        slide(ng-repeat='slide in slides', active='slide.active')
          img(ng-src='{{slide.image}}')
          .carousel-caption
            h4 imagen {{ $index+1 }}

.content-section-a
  .container
    .row
      .col-lg-12
        h3.kaizen-titles
          | Indicadores <span>{</span>
        hr.section-heading-spacer
        .clearfix
      .col-lg-12
        .col-md-4
          div(ng-controller='kpipieController')
            pie-chart(data='seguimientoData', options='options')
        .col-md-4
          div(ng-controller='kpipieController')
            pie-chart(data='cotizacionesData', options='options')
        .col-md-4
          div(ng-controller='kpipieController')
            pie-chart(data='segurosData', options='options')

.content-section-b
  .container
    .row
      div(ng-controller='kpichartsController')
        linechart(data='data', options='options')