.container
  .row
    .col-md-12(ng-controller='loginController')
      .modal-dialog(style='margin-bottom:0')
        .panel-heading
          h3.panel-title Inicia sesión
        .panel-body
          form(role='form', submitted='submitted', submit='submit()', ng-submit='submit()')
            fieldset
              .form-group(ng-class='{"has-error": form.username.$invalid && submitted}')
                input#username.form-control(type='username', name='username', ng-model='username', required='')
              .form-group(ng-class='{"has-error": form.password.$invalid && submitted}')
                input#password.form-control(type='password', name='password', ng-model='password', required='')
              .checkbox
                label
                  input(name='remember', type='checkbox', value='Recuérdame')
                  | Recuérdame
              a.btn.btn-sm.btn-success(type='submit') Login
