.modal-header
	.glyphicon-inline
		span.glyphicon.glyphicon-asterisk
	h3.modal-title.text-uppercase
		| Habilidades para el indicador <strong>{{ title }}_</strong> {{ today }}

.modal-body.kaizen-modal
	table.table.table-hover.kaizen-modal-table
		thead
			tr
				th Habilidad
				th Coordinador
				th {{ title }} (%)
				th Meta (%)
				th Cumplimiento (%)
				th 
		tbody(ng-repeat='item in items')
			tr
				th {{ item[1] | uppercase }}
				th.table-kpi-deep-user
					img.img-circle(src='{{ item[3] }}')
					{{ item[2] }}
				th.table-kpi-deep-weighted {{ item[0] }}%
				th {{ item[4] }}%
				th {{ item[5] }}%
				th.table-kpi-deep-guino
					img(src='entel/images/guiño.svg')
					.glyphicon-inline
						span.glyphicon.glyphicon-comment

.modal-footer
	button.btn.btn-primary(ng-click='ok()') [ OK _