.modal-header
	.glyphicon-inline
		span.glyphicon.glyphicon-asterisk
	h3.modal-title.text-uppercase
		| Habilidades para el indicador <strong>{{ title }}_</strong> {{ today }}

.modal-body.kaizen-modal
	table.table.table-hover.kaizen-modal-table
		thead
			tr
				th Habilidades
				th {{ title }} (%)
		tbody(ng-repeat='item in items')
			tr
				th {{ item[1] | uppercase }}
				th {{ item[0] }}%

.modal-footer
	button.btn.btn-primary(ng-click='ok()') [ OK _