nav.navbar.navbar-fixed-top: .nav-blvd(ng-controller='NavbarCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', ng-init='navbarCollapsed = true', ng-click='navbarCollapsed = !navbarCollapsed')
        span.sr-only Navegación
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(ui-sref='index')
        img(alt='Conectados', src='//static.kaizen.link/entel/images/logo-sonrisas-github.svg')

    .navbar-collapse.collapse(collapse='navbarCollapsed')
      ul.nav.navbar-nav.navbar-right

        li.nav-blvd-login
          a(ui-sref='session.login', ng-hide='authentication.isAuth') Inicia sesión
          
        li.nav-blvd-user.dropdown

          a.dropdown-toggle.nav-blvd-user-display_name(data-toggle='dropdown', ng-hide='!authentication.isAuth')
            span.glyphicon.glyphicon-user
            strong.text-capitalize  {{ personaData.firstname }}
            span.glyphicon-chevron-user
          
          ul.dropdown-menu.nav-blvd-user-container
            .row: .col-xs-12

              .col-xs-5.nopadding: .nav-blvd-user-image_profile
                img.img-circle(alt='{{ personaData.display_name }}', src='{{ personaData.image_profile }}')
              
              .col-xs-7: .nav-blvd-user-info
                span {{ personaData.firstname }} {{ personaData.surname }}
                span {{ personaData.id }}
                
                .nav-blvd-user-access-account
                  a.btn.btn-primary.btn-block.btn-sm(ui-sref='account.general') Cuenta

        li.nav-blvd-logout
          a(href='javascript:void(0)', ng-hide='!authentication.isAuth', ng-click='logOut()')
            span.glyphicon.glyphicon-off