.navbar.navbar-kaizen.navbar-fixed-top(role='navigation', ng-controller='NavbarCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', ng-init='navbarCollapsed = true', ng-click='navbarCollapsed = !navbarCollapsed')
        span.sr-only Abrir navegación
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='index')
        img(src='//static.kaizen.link/entel/images/logo-sonrisas.png')

    .collapse.navbar-collapse(collapse='navbarCollapsed')
      ul.nav.navbar-nav.navbar-right

        li: a(ui-sref='session.login', ng-hide='authentication.isAuth') Iniciar sesión
          
        li.dropdown
          a.dropdown-toggle.navbar-link.navbar-user(data-toggle='dropdown', href='javascript:void(0)', ng-hide='!authentication.isAuth')
            span.glyphicon.glyphicon-user
            strong.text-capitalize  {{ personaData.display_name }}
            span.glyphicon-chevron-user
          ul.dropdown-menu
            li
              .navbar-login
                .row
                  .col-xs-5
                    p.text-center
                      img.navbar-user-avatar.img-circle(src='//static.kaizen.link/generic/avatar/90.jpg')
                  .col-xs-7.navbar-user-info
                    p.text-left
                      strong {{ personaData.display_name }}
                    p.text-left
                      em {{ personaData.id | rut }}
                    p.text-left {{ personaData.phone }}
                    .navbar-user-link-account
                      a.btn.btn-primary.btn-block.btn-sm(ui-sref='account.general') Mi cuenta

        li
          a.navbar-link.navbar-logout(href='javascript:void(0)', ng-hide='!authentication.isAuth', ng-click='logOut()')
            span.glyphicon.glyphicon-off
      ul.nav.navbar-nav.navbar-left