.navbar.navbar-kaizen.navbar-fixed-top(role='navigation', data-ng-controller='inicioController')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Nav
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='javascript:void(0)')
        img(src='entel/images/logo-sonrisas.png')

    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='javascript:void(0)', aria-expanded='true', data-ng-hide='!authentication.isAuth') Vista
            span.caret
          ul.dropdown-menu(role='menu')
            li: a(href='/vp/indicadores') VP
            li: a(href='/coordinador/indicadores') Coordinador
            li: a(href='/ejecutivo/indicadores') Ejecutivo
        li
          a.today(data-ng-hide='!authentication.isAuth') Septiembre, 2014
        li
          a(href='acceder', data-ng-hide='authentication.isAuth') Iniciar sesión
          
        li.dropdown
          a.dropdown-toggle.navbar-link.navbar-user(href='javascript:void(0)', data-ng-hide='!authentication.isAuth')
            span.glyphicon.glyphicon-user
            strong  {{authentication.userName}}
            span.glyphicon-chevron-user
          ul.dropdown-menu
            li
              .navbar-login
                .row
                  .col-xs-5
                    p.text-center
                      img.navbar-user-avatar.img-circle(src='entel/avatar/10.jpg')
                  .col-xs-7.navbar-user-info
                    p.text-left
                      strong {{ authentication.userName }}
                    p.text-left
                      em Gerente
                    p.text-left 18.123.123-k
                    .navbar-user-link-account
                      a.btn.btn-primary.btn-block.btn-sm(href='javascript:void(0)') Mi cuenta
        li.dropdown
          a.dropdown-toggle.navbar-link.navbar-notifications(href='javascript:void(0)', data-ng-hide='!authentication.isAuth')
            span.glyphicon.glyphicon-envelope
          ul.dropdown-menu.navbar-notifications-box(role='menu')
            span.uppercase Notificaciones
            li
              a(href='javascript:void(0)')
                .row
                  .col-xs-2
                    span.glyphicon.glyphicon-star
                  .col-xs-10
                    span Has logrado superar tu meta
                    span
                      small Te ganaste un premio
                    span
                      small Hace 2 minutos
            li
              a(href='javascript:void(0)')
                .row
                  .col-xs-2
                    img(src='entel/avatar/10.jpg', style='width:100%;')
                  .col-xs-10
                    span Has logrado superar tu meta
                    span
                      small Te ganaste un premio
                    span
                      small Hace 2 minutos
        li
          a.navbar-link.navbar-logout(href='javascript:void(0)', data-ng-hide='!authentication.isAuth', data-ng-click='logOut()')
            span.glyphicon.glyphicon-off