  #wrapper-sidebar
      .container
        .row
          ul.sidebar-nav
            li.sidebar-brand.active
              a(href='indicadores/call-center')
                img(src='entel/images/static/call-center.png')
                span.hidden-sm.hidden-xs Contact Center
            li
              a(href='indicadores/allus')
                span Allus
            li
              a(href='indicadores/ecc')
                span ECC
            li
              a(href='indicadores/sccp')
                span SCCP