.kaizen-user-wrapper
  .kaizen-user-wrapper-sidebar
      .container
        .row
          ul.sidebar-nav
            li.active
              span.glyphicon-inline.glyphicon.glyphicon-cog
              a(href='vp/indicadores/allus') General
            li
              span.glyphicon-inline.glyphicon.glyphicon-user 
              a(href='vp/indicadores/allus') Usuario
            li
              span.glyphicon-inline.glyphicon.glyphicon-lock
              a(href='vp/indicadores/ecc') Contraseña
            li
              span.glyphicon-inline.glyphicon.glyphicon-question-sign
              a(href='vp/indicadores/sccp') Ayuda

  .kaizen-user-wrapper-content
    .container-fluid
      .row
        .kaizen-user-box.col-lg-12.col-xs-12
          h3 general