.kaizen-user-wrapper
  .kaizen-user-wrapper-sidebar
      .container
        .row
          ul.sidebar-nav
            li.sidebar-brand.active
              a(href='indicadores/call-center')
                img(src='entel/images/static/call-center.png')
                span.hidden-sm.hidden-xs Contact Center
            li
              a(href='vp/indicadores/allus')
                span Allus
            li
              a(href='vp/indicadores/ecc')
                span ECC
            li
              a(href='vp/indicadores/sccp')
                span SCCP

  .kaizen-dashboard-wrapper-content
    .container-fluid
      .row