.wrapper.vp-view
  .wrapper-sidebar
      .container
        .row
          ul.sidebar-nav
            li
              a(href='indicadores/call-center')
                img(src='entel/images/static/call-center.png')
                span.hidden-sm.hidden-xs Contact Center
            li.sidebar-brand.active
              a(href='vp/indicadores/allus')
                span Allus
            li
              a(href='vp/indicadores/ecc')
                span ECC
            li
              a(href='vp/indicadores/sccp')
                span SCCP

  .wrapper-content
    .container-fluid
      .row
        //- level 1
        .col-lg-8.nopadding

          //- sublevel 1
          .col-lg-12.nopadding

            //-- kpi: general
            .col-md-9
              .kaizen-box.kaizen-kpi.ok.kaizen-self#self-vp.h-level-1
                .col-lg-12.nopadding
                  .col-sm-8.nopadding
                    .avatar
                      img.img-circle(src='entel/avatar/e.jpg')
                    .self-info
                      span.who.capitalize José Luis Poch Piretta
                      span.what.uppercase Vicepresidente Mercado Personas
                      span.where.uppercase Entel
                  .col-sm-4.high-margin-top
                    .kaizen-box-name.big-size.text-right
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-asterisk
                      span.uppercase Total Allus
                    .kpi.kaizen-box-content.text-right
                      .weighted
                        span.normal-size {{ allus.Kpi.Ponderado.Valor | percentage:2 }}
                      .diff
                        .arrow.positive
                          span.glyphicon.glyphicon-chevron-up
                        .delta
                          span {{ allus.Kpi.Ponderado.Delta | percentage:2 }}

            //-- kpi: desv q llamadas
            .col-md-3
              .kaizen-box.kaizen-kpi.ok.h-level-1
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase Desviación
                .kpi.kaizen-box-content.text-right
                  .weighted
                    span.normal-size {{ allus.Kpi.DesviacionQLlamadas.Valor | percentage:2 }}
                  .diff
                    .arrow.negative
                      span.glyphicon.glyphicon-chevron-down
                    .delta
                      span {{ allus.Kpi.DesviacionQLlamadas.Delta | percentage:2 }}


          //- sublevel 2
          .col-lg-12.nopadding

            //- kpi: n.s.
            .col-md-3
              .kaizen-box.kaizen-kpi.red-alert.h-level-2
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase Servicio
                  .glyphicon-kpi.right-info
                    button.glyphicon.glyphicon-info-sign(popover-placement='top', popover-trigger='focus', popover-html-unsafe='{{ tooltipKpi }}')
                .kpi.kaizen-box-content.text-right
                  .weighted
                    span.normal-size {{ allus.Kpi.NivelServicio.Valor | percentage:2 }}
                  .diff
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ allus.Kpi.NivelServicio.Delta | percentage:2 }}
                  .kpi-info
                    span: | <b>M</b> 85%
                    span: | <b>C</b> {{ allus.Kpi.NivelServicio.Cumplimiento | percentage:2 }}

            //- kpi: n.a.
            .col-md-3
              .kaizen-box.kaizen-kpi.red-alert.h-level-2
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase Atención
                  .glyphicon-kpi.right-info
                    button.glyphicon.glyphicon-info-sign(popover-placement='top', popover-trigger='focus', popover-html-unsafe='{{ tooltipKpi }}')
                .kpi.kaizen-box-content.text-right
                  .weighted
                    span.normal-size {{ allus.Kpi.NivelAtencion.Valor | percentage:2 }}
                  .diff
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ allus.Kpi.NivelAtencion.Delta | percentage:2 }}
                  .kpi-info
                    span: | <b>M</b> 95%
                    span: | <b>C</b> {{ allus.Kpi.NivelAtencion.Cumplimiento | percentage:2 }}

            //- kpi: epa
            .col-md-3
              .kaizen-box.kaizen-kpi.ok.h-level-2
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase EPA
                  .glyphicon-kpi.right-info
                    button.glyphicon.glyphicon-info-sign(popover-placement='top', popover-trigger='focus', popover-html-unsafe='{{ tooltipKpi }}')
                .kpi.kaizen-box-content.text-right
                  .weighted
                    span.normal-size {{ allus.Kpi.EPA.Valor | percentage:2 }}
                  .diff
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ allus.Kpi.EPA.Delta | percentage:2 }}
                  .kpi-info
                    span: | <b>M</b> 60%
                    span: | <b>C</b> {{ allus.Kpi.EPA.Cumplimiento | percentage:2 }}


            //- kpi: tmo
            .col-md-3
              .kaizen-box.kaizen-kpi.ok.h-level-2
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase TMO
                .kpi.kaizen-box-content.text-right
                  .weighted
                    span.normal-size {{ allus.Kpi.TMO }}
                    | <small>seg</small>


        //- level 2

        //- habilidades
        .col-lg-4
          .kaizen-box.kaizen-skills.h-level-3
            .kaizen-box-name.big-size
              .glyphicon-kpi
                span.glyphicon.glyphicon-asterisk
              span.uppercase Habilidades
            .skills.kaizen-box-content
              .col-xs-12.skill
                .each
                  .col-xs-6
                    .info
                      a(href='habilidades/') Habilidad I
                      span.weighted 80%
                  .col-xs-3
                    .arrow.positive
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-chevron-up
                    .delta
                      span 2.3%
                  .col-xs-3
                    .position
                      span 1
              .col-xs-12.skill
                .each
                  .col-xs-6
                    .info
                      a(href='habilidades/') Habilidad II
                      span.weighted 76.2%
                  .col-xs-3
                    .arrow.positive
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-chevron-up
                    .delta
                      span 0.9%
                  .col-xs-3
                    .position
                      span 2
              .col-xs-12.skill
                .each
                  .col-xs-6
                    .info
                      a(href='habilidades/') Habilidad III
                      span.weighted 74.1%
                  .col-xs-3
                    .arrow.positive
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-chevron-up
                    .delta
                      span 1.2%
                  .col-xs-3
                    .position
                      span 3


        //- level 4

        //- history
        .col-lg-8
          .kaizen-box.kaizen-history.h-level-3
            .kaizen-box-name
              .col-md-12.nopadding
                .col-md-6
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.uppercase Históricos Allus
                .col-md-6.text-right
                  .btn-group
                    button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') Indicador
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li: a(href='#') Test
                  .btn-group
                    button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') Tiempo
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li: a(href='#') Tiempo
                  .btn-group
                    button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') Habilidad
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li: a(href='#') Habilidad

            .kaizen-box-content
              metricsallus.text-left(width='690', height='240')
              .legend

        //- ranking
        .col-lg-4
          .kaizen-box.kaizen-ranking.h-level-3
            .kaizen-box-name.big-size
              .glyphicon-kpi
                span.glyphicon.glyphicon-asterisk
              span.uppercase Ranking
            .ranking.kaizen-box-content
              .col-xs-12.rank(ng-repeat='rank in ranking')
                .each
                  .col-xs-6
                    .info
                      a(href='indicadores/{{ rank.Id | lowercase }}') {{ rank.Id }}
                      span.weighted {{ rank.Ponderado }}
                  .col-xs-3
                    .arrow.positive(ng-if='rank.Id != "SCCP"')
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-chevron-up
                    .arrow.negative(ng-if='rank.Id == "SCCP"')
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-chevron-down
                    .delta
                      span {{ rank.Delta }}%
                  .col-xs-3
                    .position
                      span {{ rank.Posicion }}

//- script.
//-   $("#menu-toggle").click(function(e) {
//-   e.preventDefault();
//-   $("#wrapper").toggleClass("toggled");
//-   });



