.kaizen-dashboard-wrapper.vp-view
  .kaizen-dashboard-wrapper-sidebar
      .container
        .row
          ul.sidebar-nav
            li
              a(href='indicadores/call-center')
                img(src='entel/images/static/call-center.png')
                span.hidden-sm.hidden-xs Contact Center
            li
              a(href='vp/indicadores/allus')
                span Allus
            li.sidebar-brand.active
              a(href='vp/indicadores/ecc')
                span ECC
            li
              a(href='vp/indicadores/sccp')
                span SCCP

  .kaizen-dashboard-wrapper-content
    .container-fluid
      .row
        //- level 1
        .col-lg-8.nopadding

          //- sublevel 1
          .col-lg-12.nopadding

            //-- kpi: general
            .col-md-9
              .kaizen-box.kaizen-kpi.neutral.kaizen-self#self-vp.h-level-1
                .col-lg-12.nopadding
                  .col-sm-8.nopadding
                    .avatar
                      img.img-circle(src='entel/avatar/0.svg')
                    .self-info
                      span.who.capitalize José Luis Poch Piretta
                      span.what.text-uppercase Vicepresidente Mercado Personas
                      span.where.text-uppercase Entel
                  .col-sm-4
                    .kaizen-box-name.small-size.text-right
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-asterisk
                      span.text-uppercase Total ECC
                    .kpi.kaizen-box-content.text-right
                      .weighted
                        span.big-size {{ ecc.Kpi.Ponderado.Valor | percentage:2 }}
                      .diff
                        .arrow.positive
                          span.glyphicon.glyphicon-chevron-up
                        .delta
                          span {{ ecc.Kpi.Ponderado.Delta | percentage:2 }}

            //-- kpi: desv q llamadas
            .col-md-3(ng-controller='ModalKpiCtrl')
              .kaizen-box.kaizen-kpi.ok.h-level-1.cursor-pointer(ng-click='open("lg", "Desviación de llamadas")')
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.text-uppercase Desviación
                .kpi.kaizen-box-content.text-right
                  .weighted
                    span.normal-size {{ ecc.Kpi.DesviacionQLlamadas.Valor | percentage:2 }}
                  .diff
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ ecc.Kpi.DesviacionQLlamadas.Delta | percentage:2 }}
                  .kpi-info
                    span: | <b>M</b> ≤ 7%

          //- sublevel 2
          .col-lg-12.nopadding(ng-controller='ModalKpiCtrl')

            //- kpi: n.s.
            .col-md-3
              .kaizen-box.kaizen-kpi.ok.h-level-2.cursor-pointer(ng-click='open("lg", "Nivel de servicio")')
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.text-uppercase Servicio
                  .glyphicon-kpi.right-info
                    button.glyphicon.glyphicon-info-sign(popover-placement='top', popover-trigger='focus', popover-html-unsafe='{{ tooltipKpi }}')
                .kpi.kaizen-box-content.text-right
                  .weighted
                    span.normal-size {{ ecc.Kpi.NivelServicio.Valor | percentage:2 }}
                  .diff
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ ecc.Kpi.NivelServicio.Delta | percentage:2 }}
                  .kpi-info
                    span: | <b>M</b> 85%
                    span: | <b>C</b> {{ ecc.Kpi.NivelServicio.Cumplimiento | percentage:2 }}

            //- kpi: n.a.
            .col-md-3
              .kaizen-box.kaizen-kpi.red-alert.h-level-2.cursor-pointer(ng-click='open("lg", "Nivel de atención")')
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.text-uppercase Atención
                  .glyphicon-kpi.right-info
                    button.glyphicon.glyphicon-info-sign(popover-placement='top', popover-trigger='focus', popover-html-unsafe='{{ tooltipKpi }}')
                .kpi.kaizen-box-content.text-right
                  .weighted
                    span.normal-size {{ ecc.Kpi.NivelAtencion.Valor | percentage:2 }}
                  .diff
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ ecc.Kpi.NivelAtencion.Delta | percentage:2 }}
                  .kpi-info
                    span: | <b>M</b> 95%
                    span: | <b>C</b> {{ ecc.Kpi.NivelAtencion.Cumplimiento | percentage:2 }}

            //- kpi: epa
            .col-md-3
              .kaizen-box.kaizen-kpi.red-alert.h-level-2.cursor-pointer(ng-click='open("lg", "EPA")')
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.text-uppercase EPA
                  .glyphicon-kpi.right-info
                    button.glyphicon.glyphicon-info-sign(popover-placement='top', popover-trigger='focus', popover-html-unsafe='{{ tooltipKpi }}')
                .kpi.kaizen-box-content.text-right
                  .weighted
                    span.normal-size {{ ecc.Kpi.EPA.Valor | percentage:2 }}
                  .diff
                    .arrow.positive
                      span.glyphicon.glyphicon-chevron-up
                    .delta
                      span {{ ecc.Kpi.EPA.Delta | percentage:2 }}
                  .kpi-info
                    span: | <b>M</b> 60%
                    span: | <b>C</b> {{ ecc.Kpi.EPA.Cumplimiento | percentage:2 }}


            //- kpi: tmo
            .col-md-3
              .kaizen-box.kaizen-kpi.ok.h-level-2.cursor-pointer(ng-click='open("lg", "TMO")')
                .kaizen-box-name
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.text-uppercase TMO
                .kpi.kaizen-box-content.text-right
                  .weighted
                    span.normal-size {{ ecc.Kpi.TMO }}
                    | <small>seg</small>

        //- level 2

        //- habilidades
        .col-lg-4
          .kaizen-box.kaizen-ranking.h-level-3
            .kaizen-box-name.big-size
              .glyphicon-kpi
                span.glyphicon.glyphicon-asterisk
              span.text-uppercase Ranking
            .ranking.kaizen-box-content
              .col-xs-12.rank(ng-repeat='rank in ranking')
                .each
                  .col-xs-6
                    .info
                      a(href='indicadores/{{ rank.Id | lowercase }}') {{ rank.Id }}
                      span.weighted {{ rank.Ponderado }}
                  .col-xs-3
                    .arrow.positive(ng-if='rank.Id != "SCCP"')
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-chevron-up
                    .arrow.negative(ng-if='rank.Id == "SCCP"')
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-chevron-down
                    .delta
                      span {{ rank.Delta }}%
                  .col-xs-3
                    .position
                      span {{ rank.Posicion }}

        //- history
        .col-lg-8
          .kaizen-box.kaizen-history.h-level-3
            .kaizen-box-name
              .col-md-12.nopadding
                .col-md-6
                  .glyphicon-kpi
                    span.glyphicon.glyphicon-asterisk
                  span.text-uppercase Históricos Total
                .col-md-6.text-right
                  .btn-group
                    button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') Indicador
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li: a(href='#') Ponderado
                      li: a(href='#') EPA
                      li: a(href='#') Nivel de Atención
                      li: a(href='#') Nivel de Servicio
                  .btn-group
                    button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') Tiempo
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li: a(href='#') Último mes
                      li: a(href='#') 3er. Trimestre
                      li: a(href='#') 2do. Trimestre
                      li: a(href='#') 1er. Trimestre
                  .btn-group
                    button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false') Habilidad
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li: a(href='#') AC
                      li: a(href='#') SSBV
                      li: a(href='#') BAMCOMER
                      li: a(href='#') NURSERY
                      li: a(href='#') SMPH
                      li: a(href='#') OT

            .kaizen-box-content
              metricsgeneral.text-left(width='690', height='240')
              .legend

        //- ranking
        .col-lg-4
          .kaizen-box.kaizen-skills.h-level-3
            .kaizen-box-name.big-size
              .glyphicon-kpi
                span.glyphicon.glyphicon-asterisk
              span.text-uppercase Habilidades
            .skills.kaizen-box-content(ng-controller='ModalHabCtrl')
              .col-xs-12.skill.cursor-pointer(ng-click='open("lg", "AC")')
                .each
                  .col-xs-6
                    .info
                      a(href='#') AC
                      span.weighted 80%
                  .col-xs-3
                    .arrow.positive
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-chevron-up
                    .delta
                      span 2.3%
                  .col-xs-3
                    .position
                      span 1
              .col-xs-12.skill.cursor-pointer(ng-click='open("lg", "SSBV")')
                .each
                  .col-xs-6
                    .info
                      a(href='#') SSBV
                      span.weighted 76.2%
                  .col-xs-3
                    .arrow.positive
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-chevron-up
                    .delta
                      span 0.9%
                  .col-xs-3
                    .position
                      span 2
              .col-xs-12.skill.cursor-pointer(ng-click='open("lg", "BAMCOMER")')
                .each
                  .col-xs-6
                    .info
                      a(href='#') BAMCOMER
                      span.weighted 74.1%
                  .col-xs-3
                    .arrow.positive
                      .glyphicon-kpi
                        span.glyphicon.glyphicon-chevron-up
                    .delta
                      span 1.2%
                  .col-xs-3
                    .position
                      span 3


//- script.
//-   $("#menu-toggle").click(function(e) {
//-   e.preventDefault();
//-   $("#wrapper").toggleClass("toggled");
//-   });



