nav-blvd-background-color = rgba(255, 255, 255, 0.98)
nav-blvd-box-shadow = rgba(0,0,0,.1) 0px 1px 1px 0px
nav-blvd-text-color = rgb(26, 26, 26)

// bootstrap specific mods
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover
  background-color inherit
  border-color inherit
  font-weight bold
  
.nav>li>a:focus,
.nav>li>a:hover
  background-color inherit
  cursor pointer
  
.navbar-brand
  img
    height 100%
    max-height 100%

.navbar-toggle
  .icon-bar
    background primary-color-2
    
// blvd customs
.nav-blvd
  background nav-blvd-background-color
  border-bottom none
  box-shadow nav-blvd-box-shadow
  @media(max-width:767px)
    background rgba(255,255,255,1)

  .nav-blvd-user
    .nav-blvd-user-display_name
      color primary-color-2
      
    .nav-blvd-user-container
      width 300px
      padding 15px
      border none
      border-radius 0px
      box-shadow nav-blvd-box-shadow
      background-color nav-blvd-background-color
      @media(max-width:767px)
        width 100%

    .nav-blvd-user-image_profile
      img
        width 100%

    .nav-blvd-user-info
      line-height 1.75em
      span
        color nav-blvd-text-color
        word-wrap break-word
        display block
        &:nth-child(1)
          text-transform capitalize
          font-weight global-font-regular-weight
        &:nth-child(2)
          font-weight global-font-light-weight

    .nav-blvd-user-access-account
      margin-top 1em

  .nav-blvd-logout
    span
      color color-negative
      
