.row-indicadores
  margin-top 25px

.kaizen-tiles
  padding 25px
  margin 25px 0
  &.orange
    background rgb(245, 121, 23)
    color white
  &.blue
    background rgb(0,85,159)
    color white
  &.black
    background rgba(0,0,0,.8)
    color white