.container.text-center
  hr
  .row
    .col-lg-12
      .col-md-3
        ul.nav.nav-pills.nav-stacked
          li
            a(href='#') Acerca
          li
            a(href='#') Noticias
      .col-md-3
        ul.nav.nav-pills.nav-stacked
          li
            a(href='#') Promociones
          li
            a(href='#') Concursos
      .col-md-3
        ul.nav.nav-pills.nav-stacked
          li
            a(href='#') Tu equipo
          li
            a(href='#') Tus metas
      .col-md-3
        ul.nav.nav-pills.nav-stacked
          li
            a(href='#') Programa
          li
            a(href='#') Bases
  hr
  .row
    .col-lg-12
      ul.nav.nav-pills.nav-justified
        li
          a(href='/') © Sonrisas para ti
        li
          a(href='#') Condiciones del programa
        li
          a(href='#') Contacto
