primary-color-1 = rgb(0, 95, 159)
primary-color-2 = rgb(245, 121, 23)

color-green = rgb(51, 204, 0)
color-red = rgb(193,15,0)
color-black-gray = rgb(150,150,150)

sidebar-background-color = rgb(0, 60, 100)