primary-color-1 = rgb(0, 95, 159)
//primary-color-2 = rgb(245, 121, 23)
primary-color-2 = rgb(255, 103, 2)

color-green = green
color-red = red
color-gray = gray
color-gray-darken = darken(color-gray, 10%)
color-gray-lighten = lighten(color-gray, 95%)

color-positive = rgb(0, 166, 0)
color-less-positive = rgb(0,90,150)
color-almost-negative = rgb(215, 95, 0)
color-negative = rgb(208, 8, 8)