.navbar-login
  width 300px
  padding 15px 15px 0 15px

.navbar-login-session
  padding 10px
  padding-bottom 0px
  padding-top 0px

.icon-size
  font-size 87px

.navbar-kaizen
  background rgba(255,255,255,0.8)
  border-bottom none
  box-shadow rgba(0,0,0,.07) 0px 1px 1px 0px
  @media(max-width:767px)
    background white

.navbar-nav
  & > li
    & > a
      color rgb(0, 85, 159)

.navbar-toggle
  .icon-bar
    background rgb(245, 121, 23)

.dropdown-menu
  border none
  border-radius 0px
  box-shadow 0px 1px 1px rgba(86, 96, 117, 0.15)
  opacity .95

.navbar-notifications
  width 300px
  padding 15px 15px 0 15px
  li
    margin 15px 0px
    span
      display block
      word-wrap break-word
  .glyphicon
    height 100%