@import 'nib'

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,400')

global-reset()

@import 'main'

@import 'login'

@import 'slides'

@import 'navbar'

@import 'views/inicio'

@import 'views/indicadores'

@import 'footer'