.kaizen-login-box
  .modal-dialog
  	margin-bottom 0
  .panel-heading
  	h1
  	  font-weight 300
  	  font-size 1.4em
.login-to-kaizen-form
  .form-group
  	#username
  	  margin-right 3px
  button
  	margin-left 9px
  	height 34px
  input
  	border 1px solid rgb(224, 223, 215)
  input, button
  	opacity .9
  	font-weight 300
  	box-shadow none