wrapper-principal-size = 140

kaizen-positive-color-changes = lighten(color-green, 20%)
kaizen-negative-color-changes = lighten(color-red, 20%)

kaizen-sidebar-background-color = darken(primary-color-1, 75%)

kaizen-kpi-ok-background-color = color-gray-lighten
kaizen-kpi-ok-text-color = darken(primary-color-2, 10%)

kaizen-kpi-alert-background-color = rgb(208,8,8)
kaizen-kpi-alert-text-color = rgb(255,255,255)

kaizen-ranking-background-color = rgb(78, 87, 94)
kaizen-ranking-text-color = rgb(199, 202, 204)

kaizen-history-background-color = kaizen-kpi-ok-background-color
kaizen-history-text-color = kaizen-kpi-ok-text-color



#wrapper
  padding-left 0
  transition all 0.5s ease
  &.toggled
    padding-left (wrapper-principal-size)px
    padding-left 0
    #wrapper-sidebar
      width (wrapper-principal-size)px
      width 0
    #wrapper-content
      position absolute
      margin-right -(wrapper-principal-size)px
      position relative
      margin-right 0
      @media(min-width:768px)
        position relative
        margin-right 0
    @media(min-width:768px)
      padding-left 0
  @media(min-width:768px)
    padding-left (wrapper-principal-size)px

#wrapper-sidebar
  z-index 1000
  position fixed
  left (wrapper-principal-size)px
  width 0
  height 100%
  margin-left -(wrapper-principal-size)px
  background kaizen-sidebar-background-color
  transition all 0.5s ease
  width (wrapper-principal-size)px
  margin-top -20px
  font-weight 300
  @media(max-width:767px)
    width (wrapper-principal-size/2.5)px

#wrapper-content
  @media(max-width:767px)
    padding-left (wrapper-principal-size/2.5)px

.sidebar-nav
  position absolute
  width 100%
  top 0
  margin 0
  padding 0
  list-style none
  li
    width 100%
    text-align center
    padding (wrapper-principal-size/10)px 0
    border-top 1px solid lighten(kaizen-sidebar-background-color, 5%)
    border-bottom 1px solid darken(kaizen-sidebar-background-color, 90%)
    background darken(kaizen-sidebar-background-color, 50%)
    span
      display block
      text-decoration none
      color rgb(255,255,255)
      font-size .9em
      text-shadow 0 0 2px rgb(17, 17, 17)
      &:hover
        text-decoration none
    &:last-child
      border-bottom none
  & > .sidebar-brand
    font-size 18px
    a
      color rgb(255,255,255)
      &:hover
        text-decoration none
  .active
      border-left 2px solid primary-color-2
  img
    width 50%

.sidebar-nav li a:active,
.sidebar-nav li a:focus
  text-decoration none
  
.kaizen-box
  padding 20px
  margin -5px -5px 25px -5px
  line-height 2em
  overflow hidden
  border 1px solid rgba(0,0,0,0.05)

  &.h-level-1
    height 12em
  &.h-level-2
    height 10.8em
  &.h-level-3
    height 24em
  &.h-level-4
    height 28em

.kaizen-kpi
  &.ok
    background kaizen-kpi-ok-background-color
    color kaizen-kpi-ok-text-color
    .weighted
      color primary-color-1
    .diff
      .arrow
        &.positive
          color kaizen-positive-color-changes
        &.negative
          color kaizen-negative-color-changes
      .delta
        color primary-color-2
  &.red-alert
    background kaizen-kpi-alert-background-color
    color kaizen-kpi-alert-text-color
    .weighted
      color kaizen-kpi-alert-text-color
    .diff
      .arrow
        &.positive
          color kaizen-kpi-alert-text-color
        &.negative
          color kaizen-kpi-alert-text-color
      .delta
        color kaizen-kpi-alert-text-color    
  .kpi
    .name
      margin 0 0 1em 0
      &.normal-size
        font-size 1em
      &.big-size 
        font-size 1.4em
      span
        display inline
        font-weight 300
    .weighted
      letter-spacing -2px
      .big-size
        font-size 3em
      .normal-size
        font-size 2em
      .small-size
        font-size 1em
    .diff
      .arrow
        display inline-block
        margin-right .5em
      .delta
        display inline-block

.kaizen-ranking
  background kaizen-ranking-background-color
  color kaizen-ranking-text-color
  .ranking
    .name
      &.normal-size
        font-size 1em
      &.big-size 
        font-size 1.4em
      span
        display inline
        font-weight 300
    .rank
      border-bottom 1px solid lighten(kaizen-ranking-background-color, 20%)
      padding 1em 0
      .each
        .info
          font-weight 400
          font-size 1em
          a
            color white
            text-decoration none
          span
            color kaizen-ranking-text-color
        .weighted
          font-weight 400
          font-size 1em
          display block
        .arrow
          vertical-align middle
          display inline-block
          &.positive
            color kaizen-positive-color-changes
          &.negative
            color lighten(kaizen-negative-color-changes, 30%)
        .delta
          display block
          color kaizen-ranking-text-color
          vertical-align baseline
          font-weight 300
        .position
          color white
          float right
          font-size 2.5em
          font-weight 300
      &:last-child
        border-bottom none

.kaizen-history
  background kaizen-history-background-color
  color kaizen-history-text-color
  metrics
    display block
