//- TODO: validate max-length
.blvd-signup-box
  .modal-dialog.text-center
    .panel-heading
      h1.panel-title.text-uppercase Registrate
    alert(ng-hide="alert.msg == ''", type='{{alert.type}}') {{ alert.msg }}
    .panel-body
      h3 Crea tu contraseña
      form.signup-to-blvd-form(name='signup-to-blvd', role='form')
        .form-group
          input.form-control(type='password', name='new_password', data-ng-model='signupData.pwd', required='', autofocus='', placeholder='Contraseña nueva')
        .form-group
          input.form-control(type='password', name='confirm_password', data-ng-model='signupData.pwdConfirmed', required='', autofocus='', placeholder='Confirma la contraseña nueva')
        button.btn.btn-sm.btn-primary.text-uppercase(type='submit', data-ng-click='signup()') Crear contraseña
