.container
  .row
    .blvd-signup-box.col-xs-12
      .modal-dialog.text-center
        .panel-heading
          h1.panel-title.text-uppercase Registrate
        .panel-body
          h3 Crea tu contraseña
          form.signup-to-blvd-form(role='form')
            fieldset
              .form-group
                input#new-password.form-control(type='password', name='new_password', data-ng-model='signupData.pwd', required='', autofocus='', placeholder='Contraseña nueva')
              .form-group
                input#new-password.form-control(type='password', name='confirm_password', data-ng-model='signupData.pwdConfirmed', required='', autofocus='', placeholder='Confirma la contraseña nueva')
              .form-group
                button.btn.btn-sm.btn-primary.text-uppercase(type='submit', data-ng-click='signup()') [ Crear contraseña_
