body,
html
  width 100%
  height 100%

body,
h1,
h2,
h3,
h4,
h5,
h6
  font-family global-font

body
  padding-top (body-distance-from-top)px
  color primary-color-1
  background rgb(240, 240, 240)

// bootstrap fixes
.container-fluid
  padding 0 30px
.nopadding
   padding 0 !important
.uppercase
  text-transform uppercase
.capitalize
  text-transform capitalize
.progress-bar-success
  background-color color-positive
.progress-bar-info
  background-color color-less-positive
.progress-bar-warning
  background-color color-almost-negative
.progress-bar-danger
  background-color color-negative

.modal-backdrop
  position fixed
  top 0
  right 0
  left 0
  bottom 0
  background-color darken(primary-color-1, 90%)
  
.modal-content
  border none
  border-radius 0px
  box-shadow 0 5px 30px rgb(40,40,40)
  
.modal-title
  font-weight 400
  color darken(primary-color-2, 10%)
.modal-footer button
  font-weight 300

.modal.fade .modal-dialog
  transition transform .1s ease-out
  
.modal-body
  color darken(primary-color-1, 50%)
  font-weight 300


.btn
  border-radius 0px
.btn-primary
  background-color primary-color-2
  border-color lighten(primary-color-2, 10%)
.btn-success
  background-color color-positive
.btn-info
  background-color color-less-positive
.btn-warning
  background-color color-almost-negative
.btn-danger
  background-color color-negative


// css fixes
.full-width-and-float
  width 100%
  float left