body,
html
  width 100%
  height 100%

body,
h1,
h2,
h3,
h4,
h5,
h6
  font-family global-font

body
  padding-top (body-distance-from-top)px
  color primary-color-1

// bootstrap fixes
.btn-primary
  background-color primary-color-1
.container-fluid
  padding 0 30px
.nopadding
   padding 0 !important
.uppercase
  text-transform uppercase
.glyphicon-inline
  display inline-block
  vertical-align middle
  margin-right .3em
  color inherit
  font-weight 300
  
// kaizen titles

.kaizen-titles
  margin-top 50px
  span
    color primary-color-2
