/*!
 * @author Ignacio Trujillo 
 * @email itrujillo@conceptogroup.cl
 * @url https://github.com/gnaces
 *
 * © Copyright 2014 Concepto Group. Todos los derechos reservados. 
 */

 // nib
@import 'nib'

// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300italic,300')
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,400')
global-font = 'Open Sans', sans-serif
alternative-font = 'Open Sans Condensed', sans-serif

// global reset (reset.css alike)
global-reset()

// global variables
body-distance-from-top = 70
body-background-color = rgb(240, 240, 240)

// kaizen per sig customs
@import 'custom/sig'

// libs
@import 'lib/loading-bar'
@import 'lib/metrics'
@import 'lib/radialplot'

// main site - always present
@import 'main'
@import 'navbar'

// custom views
@import 'partials/acceder'
@import 'partials/inicio'
@import 'partials/indicadores'
@import 'partials/usuario'
@import 'partials/registrarse'

// footer - always present
@import 'footer'